 @model IEnumerable<news24h.Models.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <table>
    <tr>
        <th>
            ID người tạo
        </th>
        <th>
            Tên bài viết
        </th>
        <th>
            Chủ đề
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Lượt xem
        </th>
        <th>
            Lượt bình luận
        </th>
        <th>
            Ảnh đại diện
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem =>item.CreatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle,new {@maxlength="20"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </table>
</div>