@model IEnumerable<news24h.Models.Post>
@{
    ViewData["Title"] = "Home Page";
     Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-6 row flex-column">
    <div class="row">
    <div class="col-12">
        <!-- Start top-post Area -->
        @*@Html.Partial("_HotPost")*@

        <!-- End top-post Area -->
    </div>

    <div class="col-12">
        <section>
            <div class="container ">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="p-title ml-md-1 " style="color:#b81f32"><b>BÀI VIẾT GẦN ĐÂY</b></h4>
                        @foreach (var item in Model)
                        {
                            <div class="link row oflow-hidden pos-relative dplay-block  p-3 flex-row" style="    border-top: 1px solid #e5e5e5;">
                                <div class="col-md-4 col-12 pl-md-0 pb-sm-2" style="height:auto">
                                    <a href="bai-viet/@item.Id">
                                        <img style="width: 100%;"
                                         src="@item.ImageUrl" alt="@item.PostTitle" />
                                    </a>
                                </div>

                                <div class="col-md-8 col-12 pt-sm-2 pt-md-0">
                                    <div class="min-h-100x">
                                        <a href="bai-viet/@item.Id" class="font-weight-bold" style="font-weight:700;font-size:20px;color:black">@item.PostTitle</a>
                                        <p style="color: #4f4f4f;font-size:14px">@(item.PostContent.Length >= 150 ? item.PostContent.Substring(0, 150) : item.PostContent + "..")</p>
                                        <div style="display:flex;flex-direction:row;align-items:center;">
                                            <img src="~/comment-right-svgrepo-com.svg" style="width:20px;height:20px" />
                                            <p style="color: #4f4f4f;font-size:15px;margin-bottom:0px;margin-left:10px"> @item.CommentCount</p>
                                        </div>
                                        <ul style="list-style:none">
                                            <li style="color: #4f4f4f;font-size:14px"><span class="fa fa-calendar mr-1"></span>@String.Format("{0:dd-MM-yyyy}", item.CreateAt)</li>
                                            <li style="color: #4f4f4f;font-size:14px"><span class="fa fa-tags mr-1"></span>@item.PostTopic</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- container -->

                    <div class="col-md-4">
                        <!-- Phổ biến -->
                        @*@Html.Partial("_PopularPost")*@

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
